.bg-purple-dark {
  background-color: #652ea3;
}

.bg-purple-light {
  background-color: #b781f3;
}

.bg-gray {
  background-color: #d9d9d9;
}

.btn-gray {
  background-color: #d9d9d9;
  color: #000;
}

.btn-gray:hover {
  background-color: #ffffff;
}

.btn-nav-dropdown {
  border: none;
}

.btn-nav-dropdown:hover {
  background: #d9d9d9;
  color: #000;
}

.btn-primary {
  --bs-btn-active-bg: #d9d9d9;
  --bs-btn-active-color: #000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(transparent,#d9d9d9);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.rounded-bottom-right {
  border-bottom-right-radius: 16px; 
}

